#footer {
  text-align: left;
  color: #b3b2b2;
  background: @school-blue ;
  padding: 0.5rem 1rem;
}
.footer_nav {
  	background:  lighten(@school-blue, 40%);
  	font-size: 0.8rem;
  	line-height: 2.3em;
	}
.footer_nav li {
	display: inline-block;
  	margin: 0 1rem;
	}